# python
__pycache__/
*.py[cod]
*.pyd
*.so

# venv
.venv/

# builds
build/
dist/
dist_*/
dist_fresh*/
dist_inst*/
dist_new*/
.release_cache/
github_release/
portable/
installer_payload/

# runtime data
logs/
cache/
data/
mods/
merged_runtime/
backups/
configs/
core/
default_packs/

# local tools
*.zip
*.7z
*.log

# ide
.idea/
.vscode/
